{% extends 'emails/layout.html.twig' %}

{% block subject %}Votre commande #{{ orderId }} a été annulée{% endblock %}

{% block content %}
    <h2>Commande annulée ✗</h2>

    <p>Bonjour {{ user.name }},</p>

    <p>Votre commande <strong>#{{ orderId }}</strong> a bien été annulée à votre demande.</p>

    <div class="highlight-box">
        <p><strong>Récapitulatif</strong><br>
        Commande n° {{ orderId }}<br>
        Date de commande : {{ orderDate }}<br>
        Statut : Annulée</p>
    </div>

    <p>Si vous souhaitez passer une nouvelle commande, vous pouvez consulter nos menus à tout moment.</p>

    <p>
        <a href="http://localhost:3000/menu/list/" class="btn">Voir nos menus</a>
    </p>

    <p>Merci pour votre confiance,<br><strong>L'équipe Vite &amp; Gourmand</strong></p>
{% endblock %}
