{% extends 'emails/layout.html.twig' %}

{% block subject %}Votre commande #{{ order.id }} a été modifiée{% endblock %}

{% block content %}
    <h2>Commande modifiée ✎</h2>

    <p>Bonjour {{ user.name }},</p>

    <p>Votre commande <strong>#{{ order.id }}</strong> a bien été mise à jour.</p>

    <div class="highlight-box">
        <p><strong>Nouveau récapitulatif</strong><br>
        Commande n° {{ order.id }}<br>
        Livraison : {{ order.deliveryDate ? order.deliveryDate|date('d/m/Y') : 'N/A' }} à {{ order.deliveryTime ? order.deliveryTime|date('H:i') : 'N/A' }}<br>
        Adresse : {{ order.deliveryAddress }}<br>
        Montant total : {{ order.totalAmount|number_format(2, ',', ' ') }} €<br>
        Statut : {{ order.status.value }}</p>
    </div>

    <p>
        <a href="http://localhost:3000/user/orders/" class="btn">Voir mes commandes</a>
    </p>

    <p>Merci pour votre confiance,<br><strong>L'équipe Vite &amp; Gourmand</strong></p>
{% endblock %}
